<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:neo4j="http://www.springframework.org/schema/data/neo4j"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       	http://www.springframework.org/schema/beans
       	http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/data/neo4j
		http://www.springframework.org/schema/data/neo4j/spring-neo4j.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:spring-configured/>
    <context:annotation-config/>
    <context:component-scan base-package="controllers, services"/>
    <neo4j:repositories base-package="repositories"/>

    <bean id="graphDatabaseService" name="graphDatabaseService"
          class="org.springframework.data.neo4j.rest.SpringRestGraphDatabase">
        <constructor-arg index="0" value="http://localhost:7474/db/data"/>
    </bean>

    <neo4j:config base-package="models" graphDatabaseService="graphDatabaseService" />

    <bean id="graphDatabaseFactory" name="graphDatabaseFactory" class="org.neo4j.graphdb.factory.GraphDatabaseFactory"/>

</beans>